@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #3aaa35;
  --white-gray: #e5e7eb;
  --navbar-button-color: #f3f5f7;
  --subtitle: #878787;
}

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

html,
body {
  background-color: var(--white-gray);
}

/* Залитые синие точки вершин */
.leaflet-editing-icon {
  border-radius: 50% !important;
  background-color: #3388ff !important;
  border: 2px solid white !important;
  box-shadow: 0 0 4px #0066f690 !important;
  width: 12px !important;
  height: 12px !important;
  margin-left: -6px !important;
  margin-top: -6px !important;
  box-sizing: border-box !important;
}

/* Пунктирная линия направления — частая, скруглённая */
.leaflet-draw-guide-dash {
  stroke: #3388ff !important;
  stroke-width: 2 !important;
  stroke-dasharray: 4, 4 !important; /* ← штрих 4px, пробел 4px */
  stroke-linecap: round !important;
}

/* Стили для меток полей */
.field-label-icon {
  background: none !important;
  border: none !important;
  cursor: default !important;
}

.field-label-content {
  background: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: #3388ff; /* будет переопределяться через inline-style */
  white-space: nowrap;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}
