@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --main-color: #3aaa35;
  --white-gray: #efeef3;
  --navbar-button-color: #f3f5f7;
  --subtitle: #878787;
}

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
