/* свернуто (рейл с иконками) */
.railRoot {
  width: 100%;
  height: 100%;
  padding: var(--mantine-spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.railIcon {
  width: 40px;
  height: 40px;
}

/* развернуто (полный) */
.navbar {
  display: flex;
  height: 100%;
  flex-direction: column;
  background: var(--mantine-color-body);
}

.header {
  padding: var(--mantine-spacing-md);
  padding-top: 0;
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}

.footer {
  margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1);
}
